@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #7248fb;
    --cor-hover: #9d67fd;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}

.logo-container {
    position: absolute;
    top: 2.0%;
    left: 8%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  
  /* Style the logo image */
  .logo {
    width: 100px;
    height: 100px;
    animation: pulse 2s infinite; /* Add animation */
  }
  
  /* Animation keyframes for the logo */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

.cabecalho {
    padding: 3% 0% 0% 68%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;

}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;


}


.apresentacao {
    gap: 82px;
    padding: 8% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;



}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.titulo-destaque { 
    color: var(--cor-terciaria);

}

strong {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto_infos {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);


}
   
.apresentacao__conteudo__texto__estudos a{
    text-decoration: none;
    color: var(--cor-terciaria);
}


.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);

}





.apresentacao__links {
    gap: 32px;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-between;


}

.apresentacao__links_subtitulo {
    font-size: 1.3rem;
    font-weight: 400;
    font-family: var(--font-primaria);

}

.apresentacao__links__navegacao {
    color: var(--cor-terciaria);
    width: 50%;
    padding: 3% 0;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 16px;
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid    var(--cor-terciaria);
    font-family: var(--font-secundaria);
    

}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem{
    width: 30%;
    margin-bottom: 15%;
}

.rodape {
    padding: 15px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-primaria);
    font-size: 0.9rem;
    font-weight: 400;


}

.apresentacao__estudos a {
    text-decoration: none;
    color: var(--cor-terciaria);
}



@media (max-width: 1200px) {
    .logo-container {
        position: absolute;
        top: 0%;
        left: 46.6%;
        transform: translateX(-50%);
        z-index: 1000;
      }
      .logo {
        width: 50px;
        height: 50px;
        animation: pulse 2s infinite; /* Add animation */
      }
        
    .cabecalho{
        padding: 10% ;
    }
    .cabecalho__menu {
        justify-content: center;

    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;

    }
    
    .apresentacao__conteudo {
        width: auto;
    }

}


.whatsapp-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  

  .whatsapp-button {
    background-color: var(--cor-terciaria);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: pulse 1s infinite; /* Add animation */
  }
  
  .whatsapp-button img {
    width: 30px;
    height: 30px;
  }
  

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }






